.DS_Store
*/.DS_Store
data/dataset/
__pycache__/
cache/
pretrain/
VOCdevkit2007/
logs/
logs_*/
output/
build/
dist/
checkpoints/
checkpoints_*/
checkpoints_*.zip
.idea/
*.py[cod]
*.c[cod]
*.so
*.swp
*.pb
*.ckpt
